.App {
  text-align: center;
  background-color: #282c34;
}

.text {
  color: black;
  font-size: 40px;
}

.politicians {
  background-color: beige;
  justify-content: center;
  border: 15px;
}

.flex {
  display: flex;
}

.flexbox1 {
  justify-content: space-evenly;
}

.button {
  font-size: 22px;
  border: 30px;
  cursor: pointer;
<<<<<<< HEAD
}
=======
}
>>>>>>> eec089f130cbab4c205743592683a37008fddc66
